<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KingUni-Wiki</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>

            <nav>
                {{#if user}}
                <a href="/home">Main Page</a>
                {{else}}
                <a href="/">Main Page</a>
                {{/if}}
                <a href="/articles/all">All Articles</a>
                <form action="/search" method="GET">
                    <input type="text" name="search">
                    <input type="submit" value="Search">
                </form>
                {{#if user}}
                <a href="/create">Create New Article</a>
                {{else}}
                <a href="/register">Create New Article</a>
                {{/if}}
            </nav>
        </aside>
        <div id="container">
            <header>
                <span>Welcome {{user.username}}!</span>
                <a href="/logout">Logout</a>
            </header>
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                {{#if notLongEnough}}
				<section id="notifications">
				<p>Article description should be at least 20 characters long...</p>
				</section>
                {{/if}}
                <section>
                    <h2>Create new article</h2>
                    <div class="spacer">
                        <form action="/create" method="POST">
                            <label for="title">Article title</label>
                            <input type="text" class="title" id="title" name="title">
                            <label for="content">Content</label>
                            <textarea id="content" name="content"></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </section>
            </main>
            <footer>
                KingUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>

</html>