<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KingUni-Wiki</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="/">Main Page</a>
                <a href="/article/all">All Articles</a>
                <form action="/search" method="GET">
                    <input type="text" name="search">
                    <input type="submit" value="Search">
                </form>
            </nav>
        </aside>
        <div id="container">
            <header>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </header>
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                {{#if wrongPassword}}
				<section id="notifications">
				<p>Both passwords should be the same...</p>
				</section>
                {{/if}}
                {{#if nameTaken}}
				<section id="notifications">
				<p>Username is already taken...</p>
				</section>
                {{/if}}
                <section>
                    <h2>Register</h2>
                    <div class="spacer">
                        <form action="/register" method="POST">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password">
                            <label for="repeatPassword">Repeat password:</label>
                            <input type="password" id="repeatPassword" name="repeatPassword">
                            <input type="submit" value="Register">
                        </form>
                    </div>
                </section>
            </main>
            <footer>
                KingUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>

</html>